* {
    padding: 0;
    margin: 0;
}

body{
    font:15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #dabdbd;
}

/* Global */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #401c5a;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.button_2{
    height: 38px;
    background: #130405;
    border: none;
    margin-top: 60px;
    margin-right: 50px;
    padding-top: -10px;
    padding-bottom: -10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: #ffffff;
    border-radius: 10px;
    font-size: 20px;
    float: left center;    
    cursor: pointer;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-bottom: #060505 10px solid;
    border-right: #060505 8px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

 #bg{  /* <-- body of about.html */
    
    font:15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #dabdbd;
}


/* Header */

header{
    background: #45255d;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #060505 3px solid; 
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}



header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #f55e31;
    font-weight: bold;
}
header .highlight, header .y a{
    font-family:  'Times New Roman', Times, sans-serif;
}
header a:hover{
    color: #cccccc;
    font-weight: bold;
}

/* showcase */

#showcase{
    min-height: 400px;
    background: url('./img/robot.jpg') no-repeat 0 -100px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top:100px;
    font-size: 55px;
    margin-bottom:10px; 
}
#showcase p{
    font-size: 20px;
}

/* newsletter */

#newsletter{
    padding: 15px;
    color:#ffffff;
    background: #503b61;
    border-bottom: #080706 3px solid;
    border-top: #080706 3px solid;
}

#newsletter h2{
    float: left;
    padding: 10px;
    
}
#newsletter form{
    float: right;
    margin-top:15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Newsletter- Page-> about.html */

#newsletter2{
    padding: 15px;
    color:#ffffff;
    background: rgb(239, 78, 29);;
    border-bottom: #080706 3px solid;
    border-top: #080706 3px solid;
}

#newsletter2 h2{
    float: left;
    padding: 10px;
    
}
#newsletter2 form{
    float: right;
    margin-top:15px;
}

#newsletter2 input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */

#boxes{
    margin-top:20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 100px;
}
#boxes .box #css3logo{
    width: 70px;
    text-align: center;
}
/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{ 
    width: 90%;
    padding: 4px;
}

/* Main-col */
article#main-col{
    float: left;
    width: 65%;
}

/* Services */

ul#services li{
    overflow: hidden;
    padding:20px;
    border:#ef4e1d solid 1px;
    margin-bottom:15px;
    /* background: #e6e6e6;     */
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #3e2352;
    text-align: center;
    border-bottom: #080706 5px solid;
    text-align: center;
    /* border-top: #080706 1px solid; */
}

footer p{
    padding-right: 58px;
}

/* Media queries */

@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box ,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom:20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    .container .button_2{
        float:none;
        display: center;
        text-align: center;
        margin-bottom:20px;
        margin-left: 40px;
    }
    footer p{
        float:none;
        text-align: center;
        width: 100%;
        margin-left: 10px;
    }
}
